.page-id-98{ //contacts
     .post-content{
         position:relative;
         padding-top:350px;
        iframe{
            width:100%!important;
            position:absolute;
            top:0;
            left:0;
            height:300px;
            border:0;
        }
     }
}