.page-id-2967 #cv{ //CV
        #cv-download{
            text-align:right;
            margin-bottom: 2em;
            a{
                font-family: 'Roboto Slab', sans-serif;
                font-size: 1.2em;
                line-height: 120%;
                font-weight: 700;
            }
        }
    a{
        color:#333;
        text-decoration: none;
    }
    .cv_tag{
        display: inline-block;
        padding: 5px;
        background: #BBB;
        font-size: 0.6em;
        line-height: 1;
        color: #FFF;
        @include border-radius(3px);
    }
    .cv_section {
        margin-top: 25px;
        margin-bottom: 25px;
        
        ul{
            
            li{
                margin:0;
                padding:0;
            }
        }
        
        h3.cv_section_title {
            float: left;
            width: 160px;
            color: #c4c4c4;
            font-family: 'Roboto Slab', sans-serif;
            font-size: 0.8em;
            line-height: 120%;
            font-weight: 700;
            margin:0;
            margin-top:10px;

        }
        .cv_line {
            margin-left: 160px;
            margin-bottom: 20px;
            padding-left: 10px;
            border-left: 1px dotted #C4C4C4;
            &:last-child {
                padding-bottom: 0px;
            }
            .cv_line_head {
                display: block;
                h4.cv_title {
                    font-weight: bold;
                    font-size: 1.4em;
                    font-family: 'Roboto Slab', sans-serif;
                    font-size: 1em;
                    line-height: 120%;
                    font-weight: 700;
                    display:inline;
                    margin:0;
                    a{
                        &:after{
                            font-family: FontAwesome;
                            content: "\f0fe";
                            font-size: 0.7em;
                            margin-left: 0.5em;
                            @include opacity(0.3);
                        }
                        
                    }
                }

                .cv_date {
                    color: #c4c4c4;
                    float: right;
                    font-size: 0.8em;
                    &:before {
                      content: " / ";
                    }

                }
            }
            .cv_line_content{
                .cv_company{
                    font-style: italic;
                }
            }

        }

    }


}