#cc-links{ //links
    .cc-bookmark{
        position:relative;
        
        
        img{
            vertical-align:top;
            width:100%;
            height:150px;
            object-fit: cover;
        }
        figure{
            margin:0;
            padding:0;
        }
        figcaption{

            padding:1em;
            position:absolute;
            width:100%;
            height:100%;
            bottom:-30px;
            background:#FFF;
            @include opacity(0);
            @include transition(all 0.2s ease-out);
            
            .bookmark-title{
                font-family: 'Roboto Slab', sans-serif;
                font-size: 1.25em;
                line-height: 120%;
                font-weight: 700;
                color: #2B3542;
                word-break: break-word;
                margin-bottom:10px;
            }
            .bookmark-category{
                display:block;
                margin-bottom:5px;
            }
            .bookmark-description{
                font-size:0.9em;
                color:black;
            }
        }
        &:hover{
            figcaption{
                bottom:0;
                @include opacity(0.9);
            }
        }
    }
}