@import 'https://fonts.googleapis.com/css?family=IM+Fell+English:400,400i';

.posts.polaroid-posts {

    .post-container{
        padding:0;
        
        &:nth-child(8n) {
            transform: rotate(-.25deg);
        }
        &:nth-child(8n+1) {
            transform: rotate(-.5deg);
        }
        &:nth-child(8n+2) {
            transform: rotate(-1deg);
        }
        &:nth-child(8n+3) {
            transform: rotate(.25deg);
        }

        &:nth-child(8n+4) {
            transform: rotate(1deg);
        }
        &:nth-child(8n+5) {
            transform: rotate(-.75deg);
        }
        &:nth-child(8n+6) {
            transform: rotate(.75deg);
        }
        &:nth-child(8n+7) {
            transform: rotate(.5deg);
        }
        
        article {
            position:relative;
            background:none;
            padding:20px;
            box-sizing: border-box;

            > .cc-polaroid-content {
                @extend .curved-paper-shadow;
                background: #fff;

                margin:auto;
                position: relative;
                //background-color:$timeline_bg_color;
                padding: 1.6em;

                header{
                    padding-bottom:1em;
                    font-family:'IM Fell English', serif;
                    text-align:center;
                    .post-date {
                        display:block;
                    }
                    .post-meta{
                        text-align:center;
                        display:block;
                        color: #CCC;
                    }
                }

                .post-title{
                    text-align:center;
                    font-family: 'Roboto Slab', sans-serif;
                    margin: .5em 0;
                }

                .post-meta{
                    background:none;
                }

                .entry-excerpt{
                    font-size:.8em;
                }

            }

        }
        
    }
    

}

.paper-shadow{
    border: 1px solid #efefef;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20), 0 0 50px rgba(0, 0, 0, 0.05) inset;
}

.curved-paper-shadow{
    @extend .paper-shadow;
    &:before,&:after {
        content: '';
        z-index: -1;
        position: absolute;

        bottom: 10px;
        width: 70%;
        max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
        max-height: 100px;
        height: 55%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    }

    &:before{//bottom left shadow
        transform: skew(-15deg) rotate(-3deg); 
        left: 10px;
    }


    &:after { //bottom right shadow
        clear: both;
        left: auto;
        right: 10px;
        transform: skew(15deg) rotate(3deg); 
    }
}