.page-template-template-portfolio {    
    .post.notice{
        .post-header{
            display:none;
        }
    }
    .posts{
        .post-container{
            .hentry{
                position:relative;
                width:100%;
                height:100%;
                @include border-radius(0);
                @include box-shadow(0,0,0, rgba(0,0,0,0.1));
                figure{
                    margin:0;
                    padding:0;
                    width:100%;
                    height:100%;
                    img{
                        vertical-align:top;
                        object-fit: cover;
                        width:100%;
                        height:100%;
                    }
                    figcaption{
                        position:absolute;
                        width:100%;
                        height:100%;
                        background-color:$color-bg;
                        padding:2em;
                        .post-title{
                            font-family: 'Roboto Slab', sans-serif;
                            font-size: 1em;
                            line-height: 1em;
                            font-weight: 700;
                            color: #2B3542;
                            word-break: break-word;
                            margin-bottom:1em;
                            max-height: 3em;
                            overflow:hidden;
                            text-overflow: ellipsis; 
                            //white-space: nowrap;  
                        }
                        .hentry-categories{
                            small{
                                color:#2B3542;
                                font-size:0.8em;
                            }
                        }
                        @include transition(all 0.2s ease-out);
                    }
                }

                &.has-post-thumbnail{
                    figure figcaption{
                            bottom:-20%;
                            @include opacity(0);
                    }
                    &:hover figure figcaption{

                        @include opacity(0.9);
                        bottom:0;
                    }
                }

            }

        }
    }
    
}