@import "compass/css3";

/* -------------------------------------------------------------------------------- */
/*	0. CSS Reset
/* -------------------------------------------------------------------------------- */

@import "compass/reset";


/* -------------------------------------------------------------------------------- */
/*	1. Document setup
/* -------------------------------------------------------------------------------- */


body {
  margin: 0;
  padding: 0;
  border: none;
  background: #f1f1f1;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  a {
    color: #13C4A5;
    text-decoration: none;
    &:hover {
      color: #13C4A5;
      text-decoration: none;
    }
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

::selection {
  background: #444;
  color: #FFF;
}

::-webkit-input-placeholder, :-ms-input-placeholder {
  color: #999;
}


/* Transitions --------------------------------------- */


body a {
    @include transition(all 0.1s ease-in-out);
}

.blog-title a,
.post-title a,
.post-overlay,
.post-likes,
.post-meta a,
.pagination,
.searchbutton,
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea,
.form-submit #submit,
.widget_search .searchsubmit,
.widget_search .s,
.format-gallery .flex-direction-nav a,
.dribbble-shot,
.flickr_badge_image a,
.post-content input[type="submit"],
.post-content input[type="reset"],
.post-content input[type="button"] {
    @include transition(all 0.2s ease-in-out);
}

.tothetop,
.header,
.portfolio-item a .portfolio-header-container,
.featured-media a img {
    @include transition(all 0.3s ease-in-out);
}


/* Screen Reader Text --------------------------------------- */


.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
    
    &:focus {
        background-color: #f1f1f1;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        color: #21759b;
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
    
}


/* -------------------------------------------------------------------------------- */
/*	2.	Structure
/* -------------------------------------------------------------------------------- */


.section {
  position: relative;
  padding: 80px 0;
}

.no-padding {
  padding: 0;
}

.small-padding {
  padding: 40px 0;
}

.medium-padding {
  padding: 60px 0;
}

.big-padding {
  padding: 100px 0;
}

.section-inner {
    max-width: 90%;
    margin:auto;
    &.content {
        width: 1040px;
        max-width: 92.6%;
    }
    &.wide {
        width: 1240px;
    }
    &.thin {
        width: 700px;
    }
}

.bg-dark {
  background-color: #1d1d1d;
}

.bg-graphite {
  background-color: #262626;
}

.bg-grey {
  background-color: #f1f1f1;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* columns */


.row {
  .one-fourth {
    width: 21.5%;
    margin-left: 5%;
    float: left;
  }
  .one-third {
    width: 30%;
    margin-left: 5%;
    float: left;
  }
  .one-half {
    width: 47.5%;
    margin-left: 5%;
    float: left;
  }
  .two-thirds {
    width: 65%;
    margin-left: 5%;
    float: left;
  }
  .one-fourth:first-child, .one-third:first-child, .one-half:first-child, .two-thirds:first-child {
    margin-left: 0;
  }
}


/* -------------------------------------------------------------------------------- */
/*	3. Header
/* -------------------------------------------------------------------------------- */

header {
    position: relative;

    .blog-title {
        margin:1em;
        font-family: '04b_19regular', sans-serif;
        font-size: 2.25em;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
      a {
        color: #fff;
        &:hover {
          color: #13C4A5;
        }
      }
    }

    .searchform{
        margin-left: auto;
        display: inline-block;
        .s{
            @include transition(background-color 1s);
        }
        .s{
            background-color: #333;
        }
    }
}


/* -------------------------------------------------------------------------------- */
/*	5. Content
/* -------------------------------------------------------------------------------- */

.wrapper > .section-inner{
  display: flex;
  flex-direction: row;
    > * {
        flex: 1;
        &.sidebar{
            flex:0 0 20%;
            padding: 1em;
            box-sizing: content-box;
        }
        &.content{
            background:white;
            padding:1em;
            overflow: hidden;
        }
        
    }
}



.posts {
    margin:auto;
    overflow: visible !important;
    &.grid-posts{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1em;
        padding: 1em;
        .post-container{
            box-sizing: border-box;
            .hentry{
                height:100%;
                background-color:#F4F4F4;
                display: flex;
                flex-direction: column;
                > *{
                    flex:1;
                    &.post-excerpt{
                        
                    }
                }
            }
        }
    }
}

.hentry {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.post {
    position: relative;
    background: #fff;
    border-radius: 3px;
    @include box-shadow( 0 1px 4px rgba(0, 0, 0, 0.1) );
    overflow: hidden;
    &.sticky .post-header {
        padding-right: 17.5%;
    }
  .sticky-post {
    display: block;
    position: absolute;
    z-index: 100;
    right: 5%;
    height: 38px;
    width: 26px;
    background: #2B3542 url(../images/icons/1x/tack-w.png) no-repeat center;
    background-size: 12px auto;
    top: 0;
    text-indent: -9999px;
    &:after {
      content: "";
      display: block;
      border: 13px solid transparent;
      border-left-color: #2B3542;
      border-right-color: #2B3542;
      position: absolute;
      right: 0;
      margin-top: -13px;
      top: 38px;
    }
  }
}


/*  Featured media  ----------------------------------------- */


.featured-media {
  a, img {
    display: block;
  }
  iframe {
    display: block;
    border: none;
    margin: 0;
  }
  object {
    border: none;
    margin: 0;
  }
  a {
    overflow: hidden;
    img {
      margin: 0 auto;
    }
    &:hover img {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-opacity: 0.8;
      -moz-opacity: 0.8;
      opacity: 0.8;
    }
  }
}

.media-caption {
  font-size: 0.8em;
  line-height: 110%;
  font-weight: 700;
  color: #999;
  padding: 20px 0;
  margin: 0 10%;
  border-bottom: 1px solid #eee;
}

/*  Post inner  ----------------------------------------- */


.post-header {
  position: relative;
  padding: 8% 10%;
  border-bottom: 1px solid #eee;
  .post-title {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.25em;
    line-height: 120%;
    font-weight: 700;
    color: #2B3542;
    word-break: break-word;
    -ms-word-break: break-word;
    a {
      color: #2B3542;
      &:hover {
        color: #13C4A5;
      }
    }
  }
}

.post-excerpt {
  padding: 10%;
  p {
    font-size: 0.95em;
    line-height: 150%;
    color: #666;
    + p {
      margin-top: 1em;
    }
  }
  .more-link {
    display: block;
    margin-top: 1.1em;
    &:hover {
      text-decoration: underline;
    }
  }
}

.post-metas{
    color:#13C4A5;
    .term-metas{
        .post-tags{
            font-size:.8em;
        }
    }
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.post-meta-icon{
    @extend .icon;
    margin-right:.5em;
}

.post-meta{
    &.post-date:before{
        @extend .post-meta-icon;
        content: "\f017";
    }
    &.post-categories:before{
        @extend .post-meta-icon;
        content: "\f07b";
    }
    &.post-tags:before{
        @extend .post-meta-icon;
        content: "\f02b";
    }
    &.zilla-likes:before{
        @extend .post-meta-icon;
        content: "\f004";
    }
    &.post-comments:before {
        @extend .post-meta-icon;
        content: "\f075";
    }
    &.post-edit-link {
        height: 59px;
        width: 20px;
        text-indent: -9999px;
        background-image: url(../images/icons/1x/edit-g.png);
        background-size: 20px auto;
        background-position: center;
        &:hover {
            background-image: url(../images/icons/1x/edit-c.png);
        }
    }
}


/*  Post formats  ----------------------------------------- */

/* format standard, format quote, format link */

.post .post-header:before, .page .post-header:before {
  content: "";
  display: block;
  border: 12px solid transparent;
  border-top-color: #eee;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 10%;
  margin-bottom: -24px;
}

.post .post-header:after, .page .post-header:after {
  content: "";
  display: block;
  border: 11px solid transparent;
  border-top-color: #fff;
  position: absolute;
  z-index: 11;
  bottom: 0;
  left: 10%;
  margin-left: 1px;
  margin-bottom: -21px;
}


/* format video, format image */


.posts {
  .format-video .post-header {
    &:before, &:after {
      content: none;
    }
  }
  .format-image .post-header {
    &:before, &:after {
      content: none;
    }
  }
}


/* format image */


.format-image .post-excerpt {
  padding-top: 7.5%;
  font-size: 0.9em;
  .image-caption {
    font-weight: 600;
  }
}


/* format quote, format link */


.post-quote {
  padding: 10%;
  background: #2B3542;
  color: #fff;
  blockquote {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 140%;
  }
}

.post-link p {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 140%;
}

.post-quote {
  blockquote {
    font-size: 1.1em;
  }
  cite {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 700;
  }
}

.post-link a {
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  font-weight: 700;
}

.post-quote cite {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  &:before {
    content: "— ";
  }
}


/* format link */


.post-link {
  padding: 10%;
  background: #2B3542;
  color: #fff;
  a {
    color: #13C4A5;
    padding-left: 23px;
    background: url(../images/icons/1x/link-c.png) no-repeat left center;
    background-size: 16px auto;
    &:hover {
      color: #13C4A5;
      text-decoration: underline;
    }
  }
}

.single {
  .post-link p, .post-quote blockquote {
    font-size: 1.75em;
  }
}

/* format gallery */


.format-gallery {
  .flexslider {
    position: relative;
  }
  .flex-direction-nav {
    a {
      display: block;
      height: 32px;
      width: 20px;
      background-size: auto 32px;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      margin-top: -16px;
      text-indent: -9999px;
      -webkit-opacity: 0.5;
      -moz-opacity: 0.5;
      opacity: 0.5;
    }
    .flex-prev {
      left: 16px;
      background-image: url(../images/icons/1x/chevron-left-w-shade.png);
    }
    .flex-next {
      right: 16px;
      background-image: url(../images/icons/1x/chevron-right-w-shade.png);
    }
    a:hover {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }
    .flex-prev:hover {
      left: 12px;
    }
    .flex-next:hover {
      right: 12px;
    }
  }
  .slides li {
    position: relative;
  }
}


/* format status */


.posts .format-status .post-excerpt {
  background: #2B3542;
  p {
    font-family: '04b_19regular', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
  }
}

.format-status .post-content {
  font-family: '04b_19regular', sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  color: #333;
  text-shadow: none;
}


/* format chat */


.format-chat {
  .post-content p {
    margin-bottom: 0.25em;
    padding: 8px 16px;
    border-radius: 3px;
    &:nth-child(odd) {
      background: #f5f5f5;
    }
  }
  .more-link {
    margin-top: 1em;
  }
}



/* -------------------------------------------------------------------------------- */
/*	6. Single post
/* -------------------------------------------------------------------------------- */


body.single .content {
  &.center {
    margin: 0 auto;
    width: 944px;
    max-width: 100%;
  }
}

.single {
  border-radius: 6px;
}

/* post header */

.single {
  .post-title {
    font-size: 2.25em;
  }
  .post-content {
    padding: 10%;
  }
}

/* format gallery */

.single .format-gallery .flex-direction-nav {
  a {
    height: 42px;
    width: 30px;
    background-size: auto 42px;
    margin-top: -21px;
  }
  .flex-prev {
    background-image: url(../images/icons/1x/chevron-left-w-shade-big.png);
  }
  .flex-next {
    background-image: url(../images/icons/1x/chevron-right-w-shade-big.png);
  }
}

/* format quote */

.single .post-quote cite {
  font-size: 1em;
  margin-top: 30px;
}

/* single post meta */

.single {
    .header-post-metas {
        @include opacity(0);
        @include transition(all 0.2s ease-in-out);
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        font-size: 0.85em;
        line-height: 120%;
        background-color:rgba(255,255,255, 0.75);
        padding: .5em 1em;
    }
    .post-header:hover{
        .post-metas{
            @include opacity(1);
        }
    }
}

.single a.post-edit-link {
  background-image: url(../images/icons/1x/edit-g.png);
  background-position: left 5px;
  &:hover {
    background-image: url(../images/icons/1x/edit-c.png);
  }
}

.author-links {
  margin-top: 18px;
  a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px auto;
    margin-left: 5px;
    border-radius: 999px;
    text-indent: -9999px;
    &:first-child {
      margin-left: 0;
    }
    &.author-link-posts {
      background-image: url(../images/icons/1x/archive-w.png);
    }
    &.author-link-website {
      background-image: url(../images/icons/1x/home-w.png);
    }
    &.author-link-mail {
      background-image: url(../images/icons/1x/social/mail-w.png);
    }
    &.author-link-twitter {
      background-image: url(../images/icons/1x/social/twitter-w.png);
    }
    &:hover {
      background-color: #13C4A5;
    }
  }
}


/* -------------------------------------------------------------------------------- */
/*	7. Post content
/* -------------------------------------------------------------------------------- */


.post-content {
  a:hover {
    text-decoration: underline;
  }
  p, blockquote, ul, ol, address, dl, .wp-caption, pre {
    line-height: 180%;
    margin-bottom: 1.1em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  > *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 50px 0 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    color: #333;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25em;
    font-weight: 400;
  }
  h5 {
    font-size: 1em;
    font-weight: 400;
  }
  h6 {
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
  }
  h1 + {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 30px;
    }
  }
  h2 + {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 30px;
    }
  }
  h3 + {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 30px;
    }
  }
  h4 + {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 30px;
    }
  }
  h5 + {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 30px;
    }
  }
  h6 + {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 30px;
    }
  }
  blockquote {
    position: relative;
    font-size: 1em;
    font-weight: 300;
    font-weight: normal;
    margin: 40px 0;
    &:before, &:after {
      content: "";
      display: block;
      width: 128px;
      height: 3px;
      background: #eee;
      margin: 40px auto;
    }
    p {
      font-size: 1.2em;
      line-height: 160%;
      font-weight: 300;
      text-align: center;
    }
  }
  cite {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 140%;
    text-align: center;
    &:before {
      content: "— ";
    }
  }
  blockquote cite {
    display: block;
    margin-top: 1em;
    em {
      font-style: italic;
      font-weight: bold;
    }
  }
}

em, q {
  font-style: italic;
}

.post-content {
  strong em, em strong {
    font-weight: bold;
    font-style: italic;
  }
  big {
    font-size: 1.25em;
  }
}

abbr, acronym {
  cursor: help;
}

code, kbd, pre {
  font-size: 0.85em;
  background: #EEE;
  font-family: Menlo, Monaco, monospace;
}

.post-content {
  .highlight {
    background: #fcf8a5;
    width: auto;
    display: inline;
    padding: 2px 3px;
  }
  kbd, code {
    padding: 5px;
    border-radius: 3px;
  }
  dl {
    line-height: 160%;
    dt {
      font-weight: bold;
    }
  }
  hr {
    width: 50%;
    height: 5px;
    background: #EEE;
    margin: 2em auto;
    border: 0;
  }
  ul {
    list-style: disc;
    margin-left: 1.5em;
    ul {
      list-style: circle;
      ul {
        list-style: square;
      }
    }
  }
  ol {
    list-style: decimal;
    margin-left: 1.5em;
    ol {
      list-style: lower-alpha;
      ol {
        list-style: lower-roman;
      }
    }
  }
  ul {
    ul, ol {
      margin-bottom: 0;
    }
  }
  ol {
    ul, ol {
      margin-bottom: 0;
    }
  }
  li {
    margin-top: 0.5em;
    line-height: 170%;
  }
  ol > li:last-child, ul > li:last-child {
    margin-bottom: 0;
  }
  address {
    padding: 3% 3.5%;
    background: #f1f1f1;
  }
  pre {
    white-space: pre-wrap;/* css-3 */
    white-space: -moz-pre-wrap;/* Mozilla, since 1999 */
    white-space: -pre-wrap;/* Opera 4-6 */
    white-space: -o-pre-wrap;/* Opera 7 */
    word-wrap: break-word;/* Internet Explorer 5.5+ */
    line-height: 140%;
    padding: 2% 2.5%;
    background: #363F48;
    font-size: 0.8em;
    color: #FFF;
    border-radius: 6px;
  }
}


/* Post media --------------------------------------- */


.wp-caption, .post-content img {
  max-width: 100%;
}

img.alignleft, .alignleft img, img.aligncenter, .aligncenter img, img.alignright, .alignright img {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #EEE;
}

.post-content {
  .alignleft, .alignright {
    margin-bottom: 1.2em;
    max-width: 300px;
  }
  .wp-caption {
    a, img {
      display: block;
    }
    .alignleft, .alignright {
      margin-bottom: 0;
    }
  }
  .alignleft {
    float: left;
    margin-right: 1em;
  }
  .alignright {
    float: right;
    margin-left: 1em;
  }
  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    a, img {
      margin: 0 auto;
    }
  }
  .wp-caption-text {
    font-size: 0.8em;
    font-weight: 700;
    color: #999;
    text-align: center;
    padding-top: 0.5em;
  }
  .gallery-caption {
    font-size: 0.8em;
    font-weight: 700;
    color: #999;
    text-align: center;
    padding-top: 0.5em;
    font-size: 16px;
    line-height: 24px;
  }
}


/* Tables --------------------------------------- */


.post-content {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 0.9em;
    width: 100%;
  }
  th, td {
    padding: 2%;
    margin: 0;
    overflow: visible;
    line-height: 120%;
    border-bottom: 1px solid #DDD;
  }
  caption {
    text-align: center;
    padding: 2%;
  }
  thead {
    vertical-align: bottom;
    white-space: nowrap;
  }
  th {
    font-weight: bold;
  }
  table tbody > tr:nth-child(odd) > td {
    background: #f9f9f9;
  }
}


/* Forms --------------------------------------- */


.post-content {
  fieldset {
    padding: 25px;
    border: 2px solid #eee;
    margin-bottom: 1em;
    legend {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 0.9rem;
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 10px 12px;
      background: #13C4A5;
      color: #fff;
    }
  }
  label {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
  }
  input, textarea {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  input {
    &[type="text"], &[type="email"], &[type="tel"], &[type="url"], &[type="password"] {
        width: 100%;
        padding: 14px 16px;
        font-size: 0.85em;
        border: none;
        color: #333;
        border: 2px solid #eee;
        background: #fdfdfd;
        border-radius: 3px;
        @include transition(background 0.2s ease-in-out);
      -webkit-appearance: none;
    }
  }
  textarea {
    width: 100%;
    padding: 14px 16px;
    font-size: 0.85em;
    border: none;
    color: #333;
    border: 2px solid #eee;
    background: #fdfdfd;
    border-radius: 3px;
    @include transition(background 0.2s ease-in-out);
    -webkit-appearance: none;
    height: 180px;
    line-height: 140%;
  }
  input {
    &[type="text"]:focus, &[type="email"]:focus, &[type="tel"]:focus, &[type="url"]:focus, &[type="password"]:focus {
      background: #fdfdfd;
      outline: none;
    }
  }
  textarea:focus {
    background: #fdfdfd;
    outline: none;
  }
  input,button {
    &[type="submit"], &[type="reset"], &[type="button"] {
      padding: 12px 16px;
      margin: 0;
      border: none;
      background: #333;
      color: #fff;
      font-size: 0.9rem;
      line-height: 1;
      -webkit-appearance: none;
      border-radius: 3px;
    }
    &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
      cursor: pointer;
      background: #13C4A5;
      color: #fff;
    }
    &[type="submit"] {
      &:focus, &:active {
        outline: none;
      }
    }
  }
}


/* -------------------------------------------------------------------------------- */
/*	8. Comments
/* -------------------------------------------------------------------------------- */

@import "comments";

/* -------------------------------------------------------------------------------- */
/*	10. Page & Page Templates
/* -------------------------------------------------------------------------------- */


.posts .page {
	width: 100%;
	position: relative;
	background: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	overflow: hidden;
}


/* Contributors template ---------------------------------------------------------- */


.post-content + .contributors-container {
  border-top: 1px solid #eee;
}

.authors-row {
  position: relative;
  padding: 10%;
  border-top: 1px solid #eee;
  &:first-child {
    border-top: none;
  }
  &:before {
    content: "";
    display: block;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    background: #eee;
  }
  .author-info {
    width: 45%;
    margin-left: 10%;
    text-align: center;
    &:first-child {
      margin-left: 0;
    }
  }
}

.author-avatar {
  display: inline-block;
  width: 134px;
  height: auto;
  margin: 0 auto 25px auto;
  border: 6px solid #eee;
  border-radius: 9999px;
  img {
    display: block;
    margin: 0 auto;
    border-radius: 9999px;
  }
}

.author-info {
  h4 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    a {
      color: #2B3542;
      &:hover {
        color: #13C4A5;
      }
    }
  }
  h5 {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    margin-bottom: 25px;
    a {
      color: #999;
      &:hover {
        color: #444;
      }
    }
  }
}

.author-description {
  line-height: 140%;
  text-align: center;
  p {
    line-height: inherit;
    text-align: inherit;
  }
}

.author-info .author-links a {
  background-color: #2B3542;
  &:hover {
    background-color: #13C4A5;
  }
}


/* Image ---------------------------------------------------------- */


.single .post-meta p.image-resolution {
  background-image: url(../images/icons/1x/image-g.png);
}


/* -------------------------------------------------------------------------------- */
/*	10. Pagination
/* -------------------------------------------------------------------------------- */


.page-title {
  margin-bottom: 60px;
  text-align: center;
    h5 {
        display: inline-block;
        padding-bottom: 4px;
        border-bottom: 2px solid #ccc;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 0.9em;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    h3 {
        margin-top: 15px;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 1.75em;
        font-weight: 400;
        text-align: center;
        color: #2B3542;
    }
    .title-pagination{
        margin-top: 15px;
    }
}

.tag-archive-meta p {
  text-align: center;
  margin-top: 15px;
  color: #767676;
  font-style: italic;
}


/* archive navigation */

.archive-nav a {
  font-size: 0.9em;
  padding: 16px 20px;
  background: #2B3542;
  border-radius: 3px;
  color: #fff;
  &:hover {
    background: #13C4A5;
    color: #fff;
  }
}

/* search */

.search-no-results .post-content p { text-align: center; }


/* -------------------------------------------------------------------------------- */
/*	11. Sidebar
/* -------------------------------------------------------------------------------- */
.sidebar {
    background: #fff;
    overflow: hidden;
    font-family: 'Roboto Slab', sans-serif;
    flex-shrink: 0;
    
    letter-spacing: 1px;
    font-weight: 700;
    .widget {
        padding: 30px;
        border-top: 1px solid #EEE;
        &:first-child {
            border-top: none;
        }
        &.widget-bp-account{
            #item-header{
                text-align:center;
                img{
                    height: 4em;
                    width: auto;
                }
            }
        }
    }
    &#sidebar-1{
        text-transform: uppercase;
        background: #2F445D;
        width:20%;
    }

    &#buddypress-sidebar{
        width:15%;
        background:#F4F4F4;
        #item-header{
            text-align:center;
            .activity{
                font-size:.8em;
            }
        }
        li{
            .count,.no-count{
                background-color:white;
                display: inline-block;
                width: 1em;
                height: 1em;
                text-align: center;
                border-radius: 50%;
                line-height: 1em;
                font-size: 1em;
                box-sizing: content-box;
            }
        }
    }
}

.widget-title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sidebar .widget-content {
  font-size: 0.85em;
  color: #767676;
}

.widget-content a:hover {
  text-decoration: underline;
}

.sidebar .widget-content p {
  line-height: 150%;
}

.widget-content, #buddypress-sidebar {
  ul li {
    position: relative;
    margin-top: 10px;
    padding: 1px 0 1px 14px;
    line-height: 130%;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      color: #13C4A5;
      font-size: 18px;
    }
  }
  > ul > li:first-child {
    margin: 0;
  }
  li ul > li:first-child {
    margin-top: 10px;
  }
  .page_item_has_children {
    padding-bottom: 0;
  }
  li ul li {
    padding-left: 15px;
  }
  ul li .post-date {
    margin-left: 5px;
    color: #999;
  }
  > ul > li:first-child {
    border-top: 0;
  }
}


/* Widget tag cloud --------------------------------------- */


.tagcloud a {
  display: block;
  float: left;
  padding: 8px 11px;
  margin: 0 5px 5px 0;
  background: #BBB;
  font-size: 0.8em !important;
  line-height: 1;
  color: #FFF;
  border-radius: 3px;
  &:hover {
    background-color: #13C4A5;
    color: #fff;
    text-decoration: none;
  }
}


/* Widget search --------------------------------------- */

.wrapper .searchform,header .searchform,.footer .searchform{
    position: relative;
    .s{
        display: block;
        width: 100%;
        padding: 16px 55px 16px 20px;
        border: none;
        margin: 0;
        background-color: #ddd;
        color: #fff;
        border-radius: 3px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9em;
        -webkit-font-smoothing: antialiased;
        &:focus{
            background-color: #2B3542;
            outline: none;
        }
    }
    .searchsubmit{
        display: block;
        height: 36px;
        width: 36px;
        border: none;
        position: absolute;
        top: 50%;
        margin-top: -18px;
        right: 10px;
        cursor: pointer;
        background:transparent;
        color:#767676;
        font-size:24px;
        span{
            display:none;
        }
        &:hover{
            color:#13C4A5;
        }
    }

}

/* Widget calendar --------------------------------------- */


#wp-calendar {
  color: #888;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 0.9em;
  a {
    color: #1abc9c;
  }
  text-align: center;
  caption, tr, td {
    text-align: center;
  }
  th {
    text-align: center;
    padding: 4% 2%;
  }
  td {
    padding: 4% 2%;
  }
  caption, thead {
    color: #666;
  }
  caption {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    color: #666;
    text-transform: capitalize;
    padding-bottom: 20px;
  }
  thead th {
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }
  tbody {
    border-bottom: 1px solid #eee;
  }
  tfoot {
    td {
      padding: 0;
    }
    #prev {
      text-align: left;
    }
    #next {
      text-align: right;
    }
    a {
      display: block;
      color: #999;
      padding: 12px 0;
      font-size: 0.9em;
      font-weight: 700;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
        color: #1abc9c;
      }
    }
  }
}

/* Dribbble widget --------------------------------------- */

.dribbble-shot {
  display: block;
  img {
    display: block;
  }
  width: 47.5%;
  float: left;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 6px;
  background: #f1f1f1;
  &:nth-child(2n) {
    margin-right: 0;
  }
  &:hover {
    background-color: #13C4A5;
  }
}

.widgetmore {
  display: block;
  clear: both;
}

/* Flickr widget --------------------------------------- */

.flickr_badge_image {
  a, img {
    display: block;
  }
  width: 21.25%;
  float: left;
  margin-left: 5%;
  margin-bottom: 5%;
  a {
    padding: 4px;
    background: #f1f1f1;
    &:hover {
      background-color: #13C4A5;
    }
  }
  &:nth-child(2), &:nth-child(6), &:nth-child(10), &:nth-child(14) {
    margin-left: 0;
  }
}

/* -------------------------------------------------------------------------------- */
/*	11. Footer
/* -------------------------------------------------------------------------------- */


.footer {
  .widget {
    margin-top: 40px;
    border-top: 4px solid #333;
    padding-top: 40px;
    &:first-child {
      margin: 0;
      border: none;
      padding: 0;
    }
  }
  .widget-title {
    color: #FFF;
    letter-spacing: 1px;
    font-size: 0.79em;
  }
  .widget-content {
    color: #767676;
    font-size: 0.95em;
    p {
      line-height: 160%;
    }
  }
}

.widget-content p + p {
  margin-top: 1em;
}


/* Widgets --------------------------------------- */


/* Widget search */

.footer .widget_search .searchform { 
    .s{
        background: #333;
    }
}

/* widget tagcloud */

.footer .tagcloud a {
    background-color: #333;
    &:hover { 
        text-decoration: none; 
        background-color: #13C4A5; 
    }
}

/* widget calendar */

.footer #wp-calendar {
  caption {
    color: #fff;
  }
  thead th {
    border: none;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
  }
  tbody {
    border-bottom: 1px solid #3B3B3B;
  }
}



/* -------------------------------------------------------------------------------- */
/*	12. Credits
/* -------------------------------------------------------------------------------- */


.credits {
  p {
    font-family: 'Roboto Slab', sans-serif;
    color: #767676;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
  }
  a {
    color: #ccc;
    &:hover {
      color: #ccc;
      text-decoration: underline;
    }
  }
}

img#wpstats { display: none; } /* Silly WordPress stats */


/* -------------------------------------------------------------------------------- */
/*	13. Responsive
/* -------------------------------------------------------------------------------- */
 @import "responsive";
