// Sass variables
@import "partials/variables";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// import fonts
@import "partials/fonts";

body{
    background-color: $color-bg!important;
}

small{
    font-size:0.8em;
}


.bg-dark{
    background-color: $color-dark;
}
.content .post,.sidebar {
    @include no-box-shadow();
    @include border-radius(0);
}

.navigation{

    .current-menu-item > a, .current_page_ancestor > a{
        color:$color-white;
    }
}
/*
.navigation .navigation-inner,
.section-inner.content,
.archive-nav,
//.credits-inner
{
    width:$inner-size;
    margin:auto;
}
*/
.archive-nav{
    margin-top: 30px;
    a{
        @include border-radius(0);
        background:$color-blue;
    }
}

.single-post{
    
    .post{
        
        .post-header:before,.post-header:after{
            display:none;
        }
        .post-header{
            height:250px;
            &:before,
            &:after{
                display:none;
            }
            z-index:1;
        }
        
        .featured-media{
            z-index:0;
            pointer-events: none;
            position: absolute;
            top: 0;
            margin-bottom: 250px;
            height:250px;
            width:100%;
            img{
                object-fit: cover;
                width:100%;
                height:100%;
                @include opacity(0.3);
            }
            .media-caption-container{
                display:none;
            }
        }
    }


    
    
}

.post-container {
    .hentry{
        .featured-media a img{
            width:100%;
            height:auto;
            &:hover{
                transform: scale(1);//avoid scaling
            }
        }
    }
}

.wp-video{
    width:auto!important;
    height:auto!important;
}

.gallery{
    &.gallery-columns-3{
        .gallery-item{
            width: 31% !important;
            margin:5px !important;
        }

    }
    img{
        border: 1px solid #cfcfcf !important;
    }
}

/* -------------------------------------------------------------------------------- */
/*	Templates
/* -------------------------------------------------------------------------------- */


/* filtering posts menu*/

hr.dashed{
    border:0;
    border-bottom: 1px dashed #cdcdcd;
    margin-top: 20px;
     margin-bottom: 20px;
}

#posts-filter{
    margin-bottom: 20px;
}

.dropit{
    display:none;
    
    &
    
    a{
        color:$color-text;
    }
    strong{
        color:$color-green;
    }

    .dropit-submenu {
        margin-top:10px;
        li{
            width:200px;
            a{
                width:100%;
                height:100%;
                display:block;
                color:$color-text;
                background-color:white;
                padding:20px;
                padding-left:40px;
                &:hover{
                    background-color:whitesmoke;
                }
            }
        }
    }
}

.footer{
    #about-link{
        display: block;
        text-align: right;
        font-size: 0.8em;
        padding-right: 20px;
        margin-top: 10px;
    }
    #networks{
        a{
            font-size: 2.5em;
            padding-right: 5px;
            color: white;
            @include opacity(0.3);
            @include transition(all 0.5s);
            &:hover{
                @include opacity(1);
            }
        }
    }
}
.credits-right{
    display:none;
}

.post.notice{
    background:none;
    .post-header{
        padding:0;
        margin-bottom: 20px;
        text-align: center;
        height: auto;

        .post-title{
            display: inline-block;
            padding-bottom: 4px;
            border-bottom: 2px solid #ccc;
            font-family: 'Roboto Slab', sans-serif;
            font-size: 0.9em;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .post-content{
        padding:0;
        margin:0;
    }
}