@font-face {
    font-family: '04b_19regular';
    src: url('../fonts/04b_19/04b_19__-webfont.eot');
    src: url('../fonts/04b_19/04b_19__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/04b_19/04b_19__-webfont.woff') format('woff'),
         url('../fonts/04b_19/04b_19__-webfont.ttf') format('truetype'),
         url('../fonts/04b_19/04b_19__-webfont.svg#04b_19regular') format('svg');
    font-weight: normal;
    font-style: normal;

}