$color-white:       #f1f1f1;
$color-bg:          #f3f1e6;
$color-dark:        #2b3029;
$color-blue:        #5abbde;
$color-green:       #13C4A5;
$color-text:        #444;
$triangle-size:     15px;
$inner-size:        1000px;