/******************************************************************
Site Name:
Author:

Stylesheet: Sass Functions

You can do a lot of really cool things in Sass. Functions help you
make repeated actions a lot easier. They are really similar to mixins,
but can be used for so much more.

Anyway, keep them all in here so it's easier to find when you're
looking for one.

For more info on functions, go here:
http://sass-lang.com/documentation/Sass/Script/Functions.html

******************************************************************/
/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
ROTATION
*********************/
@font-face {
  font-family: '04b_19regular';
  src: url("../fonts/04b_19/04b_19__-webfont.eot");
  src: url("../fonts/04b_19/04b_19__-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/04b_19/04b_19__-webfont.woff") format("woff"), url("../fonts/04b_19/04b_19__-webfont.ttf") format("truetype"), url("../fonts/04b_19/04b_19__-webfont.svg#04b_19regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, ../scss/cargoculte.scss */
body {
  background-color: #f3f1e6 !important;
}

/* line 17, ../scss/cargoculte.scss */
small {
  font-size: 0.8em;
}

/* line 22, ../scss/cargoculte.scss */
.bg-dark {
  background-color: #2b3029;
}

/* line 25, ../scss/cargoculte.scss */
.content .post, .sidebar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

/* line 32, ../scss/cargoculte.scss */
.navigation .current-menu-item > a, .navigation .current_page_ancestor > a {
  color: #f1f1f1;
}

/*
.navigation .navigation-inner,
.section-inner.content,
.archive-nav,
//.credits-inner
{
    width:$inner-size;
    margin:auto;
}
*/
/* line 46, ../scss/cargoculte.scss */
.archive-nav {
  margin-top: 30px;
}
/* line 48, ../scss/cargoculte.scss */
.archive-nav a {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background: #5abbde;
}

/* line 58, ../scss/cargoculte.scss */
.single-post .post .post-header:before, .single-post .post .post-header:after {
  display: none;
}
/* line 61, ../scss/cargoculte.scss */
.single-post .post .post-header {
  height: 250px;
  z-index: 1;
}
/* line 63, ../scss/cargoculte.scss */
.single-post .post .post-header:before, .single-post .post .post-header:after {
  display: none;
}
/* line 70, ../scss/cargoculte.scss */
.single-post .post .featured-media {
  z-index: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  margin-bottom: 250px;
  height: 250px;
  width: 100%;
}
/* line 78, ../scss/cargoculte.scss */
.single-post .post .featured-media img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
/* line 84, ../scss/cargoculte.scss */
.single-post .post .featured-media .media-caption-container {
  display: none;
}

/* line 97, ../scss/cargoculte.scss */
.post-container .hentry .featured-media a img {
  width: 100%;
  height: auto;
}
/* line 100, ../scss/cargoculte.scss */
.post-container .hentry .featured-media a img:hover {
  transform: scale(1);
}

/* line 107, ../scss/cargoculte.scss */
.wp-video {
  width: auto !important;
  height: auto !important;
}

/* line 114, ../scss/cargoculte.scss */
.gallery.gallery-columns-3 .gallery-item {
  width: 31% !important;
  margin: 5px !important;
}
/* line 120, ../scss/cargoculte.scss */
.gallery img {
  border: 1px solid #cfcfcf !important;
}

/* -------------------------------------------------------------------------------- */
/*	Templates
/* -------------------------------------------------------------------------------- */
/* filtering posts menu*/
/* line 132, ../scss/cargoculte.scss */
hr.dashed {
  border: 0;
  border-bottom: 1px dashed #cdcdcd;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 139, ../scss/cargoculte.scss */
#posts-filter {
  margin-bottom: 20px;
}

/* line 143, ../scss/cargoculte.scss */
.dropit {
  display: none;
}
/* line 146, ../scss/cargoculte.scss */
.dropit
a {
  color: #444;
}
/* line 151, ../scss/cargoculte.scss */
.dropit strong {
  color: #13C4A5;
}
/* line 155, ../scss/cargoculte.scss */
.dropit .dropit-submenu {
  margin-top: 10px;
}
/* line 157, ../scss/cargoculte.scss */
.dropit .dropit-submenu li {
  width: 200px;
}
/* line 159, ../scss/cargoculte.scss */
.dropit .dropit-submenu li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #444;
  background-color: white;
  padding: 20px;
  padding-left: 40px;
}
/* line 167, ../scss/cargoculte.scss */
.dropit .dropit-submenu li a:hover {
  background-color: whitesmoke;
}

/* line 176, ../scss/cargoculte.scss */
.footer #about-link {
  display: block;
  text-align: right;
  font-size: 0.8em;
  padding-right: 20px;
  margin-top: 10px;
}
/* line 184, ../scss/cargoculte.scss */
.footer #networks a {
  font-size: 2.5em;
  padding-right: 5px;
  color: white;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 190, ../scss/cargoculte.scss */
.footer #networks a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 196, ../scss/cargoculte.scss */
.credits-right {
  display: none;
}

/* line 200, ../scss/cargoculte.scss */
.post.notice {
  background: none;
}
/* line 202, ../scss/cargoculte.scss */
.post.notice .post-header {
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  height: auto;
}
/* line 208, ../scss/cargoculte.scss */
.post.notice .post-header .post-title {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid #ccc;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
/* line 219, ../scss/cargoculte.scss */
.post.notice .post-content {
  padding: 0;
  margin: 0;
}
